# .gitignore
*.exe
*.swp
.DS_Store
.coverage/
.idea/
.vimrc
.vscode/
_dist/
bin/
vendor/
# Ignores charts pulled for dependency build tests
cmd/helm/testdata/testcharts/issue-7233/charts/*

# .dockerignore
.git/
.circleci/
.github/
scripts/
testdata/
dist/
.dockerignore
.gitignore
.goreleaser.yaml
*.md
KEYS
LICENSE
OWNERS
Dockerfile
Makefile
