name: ShellCheck

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    paths:
      - '**.sh'
      - '.github/workflows/shellcheck.yml'

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master

        with:
          scandir: scripts
          severity: error
