name: Lint Bash Scripts

on:
  pull_request:
    paths:
      - 'scripts/**.sh'
  push:
    branches:
      - main
    paths:
      - 'scripts/**.sh'

permissions:
  contents: read

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Run ShellCheck
        run: shellcheck ./scripts/**/*.sh